# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker Volumes
influxdb_data/
nodered/data/node_modules/
nodered/data/.npm/
nodered/data/.config.json
nodered/data/flows_cred.json
portainer_data/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
